/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --comics-primary: blue;
    --comics-dark: black;
}

img {
    max-width: 100%;
}

/* #endregion Common */


/* #region Header*/

header {
    text-align: center;


    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;

        & a {
            color: var(--comics-dark);
            text-decoration: none;
            font-weight: bold;
        }
    }

    .jumbotron img {
        overflow: hidden;
        width: 100%;
        height: auto;
        max-height: 500px;
        object-fit: cover;
        object-position: top;
    }
}

/* #endregion Header*/

/* #region Main */
main {

    & #comics {
        & .row {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 0 -1rem;

        }

        & .card {
            width: 150px;
            overflow: hidden;
            margin: 0 1rem 1rem 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            & img {
                width: 100%;
                height: auto;
                max-height: 200px;
                object-fit: cover;
                object-position: top;
            }

            & .card-content {
                padding: 1rem;
                text-align: center;
                flex-grow: 1;
            }
        }

    }
}

/* #endregion Main */